<% provide(:title, '?') %>
<p class="lead">Информация о системе elevatorTools</p>
<hr>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
<p>
  <strong>elevatorTools</strong> задуман как автоматизированная система для управления данными (учет оборудования, учет рабочего времени и возможно подобие электронного документа оборота), а так же, менеджер задач (формирование задач персоналу и контроль их выполнения).
</p>

<p>
  <strong>Первым шагом</strong> является создание модуля учета оборудования предприятия, которе используется в основном виде деятельности.<br> 
  В модуле используется понятие узла (узлового модуля УМ), за которым закреплено оборудование (сетевое, узловое, лифтовое и т.д.). У узла есть такие параметры как: имя, адрес, описание, список закрепленного оборудования.<br> <em>--- Продолжение следует.</em>
</p>

<p>
	<strong>Вторая задача</strong> - создание модуля для учета обслуживаемых лифтов, контроля за проведением Технического освидетельствования лифтов.<br> <em>--- Продолжение следует.</em>
</p>

<p>
	<strong>Третий шаг</strong> - создание модуля для учета рабочего времени и расчета заработной платы персонала обслуживающего лифты.<br> <em>--- Продолжение следует.</em>
</p>
<div class="search_result">
	<h3>Описание версий</h3>
	<p class="lead">version 2.0.1b</p>
	<p class="text-info">дата последнего обновления 04.05.2014</p>
</div>
<div class="version">
		<p class="text-success">version 2.0.1b --- 04.06.2014</p>
		<ul>
			<li><strong>Требования:</strong>
				<ul>
					<li><strong>Разбивка лифтов в УМ на слоты</strong></li>
					<li><strong>Генерация таблицы "Конфигурация ММИ" на основе данных в БД</strong></li>
					<li><del><strong>Отметка о проведении ПТО</strong> <ins>(модуль работает в консоли)</ins></del></li>
					<li>Информация о прорабах</li>
					<li>Добавить модуль "Табель-Наряд" (перенести из excel)</li>
					<li>Импорт данных в БД из отчета о перезапусках</li>
				</ul>
			</li>
			<li><strong>Ошибки:</strong>
				<ul>
					<li>Поиск по объектам:
						<ul>
							<li>Нет сообщения о неверном или пустом запросе</li>
							<li>Нет валидации данных в формах</li>
							<li>"Кривые" формы
								<ul>
									<li><del>Буфер переноса оборудования</del></li>
									<li>Редактирования ip-адреса</li>
								</ul>
							</li>
							<li><del>Не работает скрипт при выборе адреса (динамический селект)</del></li>
						</ul>
					</li>
				</ul>
			</li>
			<li><strong>Изменения:</strong>
				<ul>
					<li><del>Изменение интерфейса от выпадающих меню к вкладкам для упрощения навигации и получения эффекта "один клик"</del></li>
				</ul>
			</li>
		</ul>
	<p class="text-success">version 2.0.0 --- 30.05.2014</p>
		<ul>
			<li><strong>Требования:</strong>
				<ul>
					<li>Поиск объектов:
						<ul>
							<li><del>Улицы</del></li>
							<li><del>Адреса</del></li>
							<li><del>УМ (по адресу и по номеру)</del></li>
							<li><del>Лифты (по адресу и по регистрационному номеру)</del></li>
							<li><del>Оборудование (по названию и по серийному номеру)</del></li>
						</ul>
					</li>
					<li><del>Единый реестр с сортировкой по столбцам</del></li>
					<li><del>Единый реестр с сортировкой по столбцам выгрузка в excel</del></li>
					<li>Отметка о проведении ПТО <ins>(модуль работает в консоли)</ins></li>
					<li>Информация о прорабах</li>
					<li>Добавить модуль "Табель-Наряд" (перенести из excel)</li>
					<li>Разбивка лифтов в УМ на слоты</li>
					<li><del>Вывод количества лифтов в результатх поиска УМ</del></li>
					<li><del>Выделение цветом лифтов без диспетчеризации</del></li>
					<li>Генерация таблицы "Конфигурация ММИ" на основе данных в БД</li>
					<li>Импорт данных в БД из отчета о перезапусках</li>
					<li><del>Дизайн интерфейса</del></li>
				</ul>
			</li>
			<li><strong>Ошибки:</strong>
				<ul>
					<li>Поиск по объектам:
						<ul>
							<li>Нет сообщения о неверном или пустом запросе</li>
							<li>Нет валидации данных в формах</li>
							<li>"Кривые" формы
								<ul>
									<li>Буфер переноса оборудования</li>
									<li>Редактирования ip-адреса</li>
								</ul>
							</li>
							<li>Не работает скрипт при выборе адреса (динамический селект)</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
</div>
<div class="search_result">
	<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
</div>
</div>
</div>