<% provide(:title, 'О портале') %>
<h1>О портале</h1>
<p>
  Портал задуман как автоматизированная система для управления данными (учет оборудования, учет рабочего времени и возможно подобие электронного документа оборота), а так же, менеджер задач (формирование задач персоналу и контроль их выполнения).
</p>

<p>
  Первым шагом является создание модуля учета оборудования предприятия, которе используется в основном виде деятельности. В модуле используется понятие узла (узлового модуля УМ), за которым закреплено оборудование (сетевое, узловое, лифтовое и т.д.). У узла есть такие параметры как: имя, адрес, описание, список закрепленного оборудования. --- Продолжение следует.
</p>

<p>
  Вторая задача - создание модуля для учета рабочего времени и расчета заработной платы персонала обслуживающего лифты. --- Продолжение следует.
</p>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>