<% provide(:title, 'Справочники') %>
<h1>Справочники</h1>
<p>
	<li><%= link_to "Узлы", nodes_path %></li>
  Список всех узловых модулей используемых на данный момент в системе диспетчеризации лифтового оборудования.
</p>

<p>
	<li><%= link_to "Адреса", streets_path %></li>
  Адреса расположения узловых модулей и обслуживаемых лифтов.
</p>

<p>
	<li><%= link_to "Оборудование", equipment_index_path %></li>
  Типы и описание оборудования используемого в системе.
</p>