<div class="center hero-unit">
	<h1>Корпоративный портал</h1>
	<h2><a href="http://www.tomsklift.ru">ЗАО Томсклифтремонт</a></h2>
	<%= link_to "Вход в систему", signup_path, class: "btn btn-large btn-primary" %>
	<h6>Вход только для сотрудников компании.</h6>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
