<% provide(:title, 'Точка подключения') %>
<p class="lead">Точка подключения</p>
<hr>
<div class="row">
  <div class="col-md-8 col-md-offset-2">

  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2 list">
    <%= @connection.porch.build.street.name %> <%= @connection.porch.build.name %> <%= @connection.porch.name %>
  </div>
</div>