<%= form_tag({:controller => "address", :action => "index"}, :method => "get", role:"form") do %>
<div class="input-group input-group-sm">
  <label class="sr-only" for="search">search</label>
  <%= search_field_tag(:search, params[:search], {class:"form-control", placeholder:"Партизанская, 8/1"}) %>
  <div class="input-group-btn">
    <%= submit_tag("Найти", class:"btn btn-default") %>
  </div>
</div>
<% end %>