<% provide(:title, 'Адреса') %>
<p class="lead">Адреса расположения УМ и обслуживаемых лифтов.</p>
<hr>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render "address/address_search" %>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2 list" >
      <% unless @address.nil? %>
      <table class="table table-condensed table-striped search_result">
        <caption>Перечень всех адресов</caption>
        <thead>
          <tr>
            <td>Адрес</td>
            <td>Количество лифтов</td>
          </tr>
        </thead>
        <tbody>
        <% @address.each do |s, b| %>
        <% b.each do |build| %>
        <tr>
          <td class="recordname"><%= link_to s.name + ', ' + build.name, build %></td>
          <td><%= build.lifts.count%></td>
        </tr>
        <% end %>
        <% end %>
      </tbody>
        </table>
      <% end %>
  </div>
</div>