<% provide(:title, 'Адреса') %>
<p class="lead">Адреса расположения УМ и обслуживаемых лифтов.</p>
<hr>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "address/address_search" %>
  </div>
</div>
<% unless @address.nil? %>
<div class="row">
  <div class="col-md-8 col-md-offset-2 list" >
      <% if @address.empty? %>
          <p class="lead search_result">Адреса удовлетворяющие запросу не найдены.</p>
      <% else %>
      <table class="table table-condensed table-striped search_result">
        <caption>Результаты поиска</caption>
        <thead>
          <tr>
            <td>Адрес</td>
            <td>Количество лифтов</td>
          </tr>
        </thead>
        <tbody>
        <% @address.each do |s, b| %>
          <% b.each do |build| %>
            <tr>
              <td class="td_address" style="width:60%;">
                  <%= link_to s.name + ', ' + build.name, build %>
              </td>
              <td style="width:40%;"><%= build.lifts.count %></td>
            </tr>
          <% end %>
        <% end %>
        </tbody>  
      </table>
      <% end %>
  </div>
</div>
<% end %>