<% provide(:title, 'Адреса') %>
<% provide(:header, 'Адреса') %>
<% unless @address.nil? %>
<div class="row">
  <div class="col-md-12" >
      <% if @address.empty? %>
          <p class="lead search_result">Адреса удовлетворяющие запросу не найдены.</p>
      <% else %>
      <table class="datatable display" cellspacing="0" width="100%">
        <thead>
          <tr>
            <td>Адрес</td>
            <td>Количество лифтов</td>
          </tr>
        </thead>
        <tbody>
        <% @address.each do |s, b| %>
          <% b.each do |build| %>
            <tr>
              <td class="td_address" style="width:60%;">
                  <%= link_to s.name + ', ' + build.name, build %>
              </td>
              <td style="width:40%;"><%= build.lifts.count %></td>
            </tr>
          <% end %>
        <% end %>

        </tbody>
      </table>
      <% end %>
  </div>
</div>
<% end %>
<% unless @equip.nil? %>
<% @equip.each do |e| %>
  <tr>
    <td class="td_address" style="width:60%;">
        <%= link_to e.equipment_list.manufacturer + ' ' + e.equipment_list.name + ' s/n: ' + e.factory_sn, e %><br>
    </td>
    <td style="width:40%;"></td>
  </tr>
<% end %>
<% end %>