<% if @ipa.empty? %>
    <span class="label label-warning">Нет информации о ip -адресах</span>
<% else %>
	<% @ipa.each do |ipa| %>
		<% if ipa.name == nil %>
			<span class="label label-warning">Не указан статус ip -адреса (основной/резервный)</span>
		<% else %>
			<%= ipa.name %> ip:&nbsp;&nbsp;
			<% if ipa.provider == nil %>
					<%= ipa.ip %>&nbsp;&nbsp;<span class="label label-warning">Нет информации о провайдере</span>
				<% else %>
					<%= ipa.ip %>&nbsp;&nbsp;<%= ipa.provider.name %><br>
				<% end %>
		<% end %>
	<% end %>
<% end %>