<% if @ipa.empty? %>
<div class="row">
    <span class="label label-warning">Нет информации о ip -адресах</span>
</div>
<% else %>
<% @ipa.each do |ipa| %>
<div class="row">
	<% if ipa.name == nil %>
	<div class="col-sm-3 col-md-2 col-lg-1">
		<span class="label label-warning">Не указан статус ip -адреса (основной/резервный)</span>
	</div>
	<% else %>
	<div class="col-sm-3 col-md-2 col-lg-1">
		<p class="text-muted text-right"><%= ipa.name %> ip:</p>
	</div>
	<% end %>
	<% if ipa.provider == nil %>
	<div class="col-sm-offset-3 col-md-offset-2 col-lg-offset-1">
		<%= ipa.ip %> | <span class="label label-warning">Нет информации о провайдере</span>
	</div>
	<% else %>	
	<div class="col-sm-offset-3 col-md-offset-2 col-lg-offset-1">
		<%= ipa.ip %> | <%= ipa.provider.name %>
	</div>
	<% end %>
</div>
<% end %>
<% end %>