<tr>
	<td><%= link_to "УМ " + node.name, node %>&nbsp;</td>
	<% if node.street.nil? %>
	<td>&nbsp;Группа лифтов, которые не выводятся в ЦД и не принадлежат какому-либо УМ </td>
	<% else %>
	<td>&nbsp;<%= node.street.name + ', ' + node.build.name %></td>
	<% end %>
</tr>