<tr>
	<td>
		<div class="searchcell">
			<%= link_to "УМ " + node.name, node %>
		</div>
	</td>
	<% if node.street.nil? %>
	<td>Не выводится в ЦД</td>
	<% else %>
	<td>
		<div class="searchcell">
			<%= node.street.name + ', ' + node.build.name %>
		</div>
	</td>
	<% end %>
</tr>