<% provide(:title, 'Узловые модули') %>
<% provide(:header, 'Узловые модули') %>
<% unless @nodes.nil? %>
<div class="row">
	<div class="col-md-12" >
		<% if @nodes.empty? %>
			<p class="lead search_result">УМ удовлетворяющие запросу не найдены.</p>
		<% else %>
			<table class="datatable display" cellspacing="0" width="100%">
        <thead>
          <tr>
            <td>Узловой модуль</td>
            <td>Адрес</td>
            <td>Количество лифтов</td>
            <td>Свободных адресов на ЛШ</td>
            <td>КЛШ</td>
          </tr>
        </thead>
        <tbody>
					<%= render @nodes %>
				</tbody>
			</table>
		<% end %>
	</div>
</div>
<% end %>