<% provide(:title, 'Узловые модули') %>
<p class="lead">Информация о узловых модулях.</p>
<hr>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
		<%= form_tag(nodes_path, method:"get", role:"form") do %>
			<div class="input-group input-group-sm">
		    <label class="sr-only" for="search">nodes</label>
		    <%= search_field_tag(:search, params[:search], {class:"form-control", placeholder:"Поиск по адресу или номеру УМ"}) %>
		    <div class="input-group-btn">
		    	<%= submit_tag("Найти", class:"btn btn-default") %>
		    </div>
		  </div>
		<% end %>
	</div>
</div>
<% unless @nodes.nil? %>
<div class="row">
	<div class="col-md-8 col-md-offset-2 list" >
		<% if @nodes.empty? %>
			<p class="lead search_result">УМ удовлетворяющие запросу не найдены.</p>
		<% else %>
			<table class="table table-condensed table-striped search_result">

        <thead>
          <tr>
            <td>Узловой модуль</td>
            <td>Адрес</td>
            <td>Количество лифтов</td>
            <td>Свободных адресов на ЛШ</td>
            <td>КЛШ</td>
          </tr>
        </thead>
        <tbody>
					<%= render @nodes %>
				</tbody>
			</table>
		<% end %>			
	</div>
</div>
<% end %>