<% provide(:title, 'Узлы') %>
<h1>Узловые модули</h1>

<td><%= link_to "Добавить УМ", add_node_path, class: "btn btn-large btn-primary" %></td>

<%= will_paginate %>

<ul class="users">
  <%= render @nodes %>
</ul>

<%= will_paginate %> 