<tr>
   <td class="col-md-4 col-lg-5">
   	<% if lift.porch.nil? %>
   	<span class="label label-warning">Нет информации о расположении лифта</span>
   	<% else %>
   	<%= link_to lift.porch.build.street.name + ', '  + lift.porch.build.name + ' - '  + lift.porch.name, lift %>
   	<% end %>
   </td>
</tr>