<% provide(:title, 'Лифты') %>
<p class="lead">Информация по облуживаемым лифтам</p>
<hr>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render "lifts/lift_search" %>
  </div>
</div>
<% unless @lifts.nil? %>
<div class="row">
  <div class="col-md-8 col-md-offset-2 list" >
    <% if @lifts.empty? %>
        <p class="lead search_result">Лифты удовлетворяющие запросу не найдены.</p>
    <% else %>
      <table class="table table-condensed table-bordered table-striped">
        <caption>Результаты поиска</caption>
        <thead>
        </thead>
        <tbody>
        <%= render @lifts %>
      </tbody>
      </table>
    <% end %>  
  </div>
</div>
<% end %>