<% provide(:title, @title) %>
<% provide(:header, @title) %>
<% unless @lifts.nil? %>
<div class="row">
  <div class="col-md-12" >
    <% if @lifts.empty? %>
        <p class="lead search_result">Лифты удовлетворяющие запросу не найдены.</p>
    <% else %>
      <table class="datatable display" cellspacing="0" width="100%">
        <thead>
          <th>Адрес</th>
          <th>Рег.номер</th>
          <th>Груз-ть</th>
          <th>К. ост.</th>
          <th>Механик</th>
          <th>Собств-к</th>
          <th>Вывод</th>
          <th>След-ее ПТО</th>
          <th><%= @link_name %></th>
        </thead>
        <tbody>
          <%= render @lifts %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
<% end %>