<% provide(:title, 'Лифты') %>
<p class="lead"><%= @title %></p>
<hr>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "lifts/lift_search" %>
  </div>
</div>
<% unless @lifts.nil? %>
<div class="row">
  <div class="col-md-8 col-md-offset-2 list" >
    <% if @lifts.empty? %>
        <p class="lead search_result">Лифты удовлетворяющие запросу не найдены.</p>
    <% else %>
      <table id="datatables" class="table table-condensed table-striped">
        <thead>
          <th>Адрес</th>
          <th>Рег.номер</th>
          <th>УМ</th>
          <th>Район</th>
          <th>Механик</th>
          <th>Вывод</th>
          <th></th>
        </thead>
        <tbody>
          <%= render @lifts %>
        </tbody>
      </table>
    <% end %>  
  </div>
</div>
<% end %>