<% provide(:title, @title) %>
<p class="lead"><%= @title %></p>
<hr>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "lifts/lift_search" %>
  </div>
</div>
<% unless @lifts.nil? %>
<div class="row">
  <div class="col-md-8 col-md-offset-2 list" >
    <% if @lifts.empty? %>
        <p class="lead search_result">Лифты удовлетворяющие запросу не найдены.</p>
    <% else %>
      <table id="datatables" class="table table-condensed table-striped">
        <thead>
          <th class="td_center">Адрес</th>
          <th class="td_center">Рег.номер</th>
          <th class="td_center">Груз-ть</th>
          <th class="td_center">К. ост.</th>
          <th class="td_center">Механик</th>
          <th class="td_center">Собств-к</th>
          <th class="td_center">Вывод</th>
          <th class="td_center">След-ее ПТО</th>
          <th class="td_center"><%= @link_name %></th>
        </thead>
        <tbody>
          <%= render @lifts %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
<% end %>