<% provide(:title, 'Лифты') %>
<legend>Лифты</legend>

<% unless @lifts.nil? %>
  <div class="col-md-8 col-md-offset-2 list" >
    <table class="table table-striped table-condensed">
    <%= render @lifts %>
    </table>
  </div>

<% end %>