<% provide(:title, 'Механики') %>
<p class="lead">Механики</p>
<hr>
<div class="row">
  <div class="col-md-8 col-md-offset-2 list">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Механик</th>
          <th>Количество лифтов</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @mechanics.each do |m| %>
        <tr>
          <td><%= link_to m.name, m %></td>
          <td><%= m.lifts.count %></td>
          <td><%= link_to "Изменить", edit_mechanic_path(m), class:"text-muted" %></td>
          <% if current_user.admin? %>
            <td><%= link_to "Удалить", m, method: :delete, data: { confirm: "Вы уверены?" }, class:"text-muted" %></td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>