<% provide(:title, 'Расчет ЗП') %>
<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <p class="lead">Расчет ЗП за <%= @month.to_formatted_s(:month_and_year) %></p>
    <% if @foreman.nil? %>
    <% else %>
    <p>Прораб: <%= @foreman.user.runame %></p>
    <% end %>
    <%= link_to_function("Распечатать", "javascript:print()", class:"hidden-print") %>
  </div>
</div>
<hr class="hidden-print">
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-striped table-condensed table-bordered">
      <thead>
        <tr>
          <td>Механик</td>
          <td>Лифты</td>
          <td>Отработано</td>
          <td>Начислено</td>
          <td>Простои</td>
          <td>Удержано</td>
          <td>Итог</td>
        </tr>
      </thead>
      <tbody>
        <%= render "mechanics/workorder_for_all_mech" %>
      </tbody>
    </table>
  </div>
</div>
