<tr>
  <td class="td_address" style="width:60%;"><%= link_to equipment.equipment_list.manufacturer + ' ' + equipment.equipment_list.name, equipment.equipment_list %></td>
  <td><%= link_to equipment.factory_sn, equipment %></td>
</tr>