<div class="col-md-10 col-md-offset-1">
  <legend>Неисправное оборудование:</legend>
  <% if @equip_store.empty? %>
  <p class="lead"><%= Time.now %> в базе данных отсутствует информация о неисправном оборудовании.</p>
  <% else %>
  <table class="table table-striped table-bordered table-condensed">
  <%= render @equip_store %>
  </table>
  <% end %>
</div>