<% provide(:title, 'Оборудование | Неисправное') %>
<p class="lead">Неисправное оборудование.</p>
<hr>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render "equipment/equipment_search" %>
  </div>
</div>
<div class="col-md-8 col-md-offset-2  list">
  <% if @equip_store.empty? %>
  <p class="lead">По состоянию на <%= Time.now.strftime("%d.%m.%Y") %> в базе данных отсутствует информация о неисправном оборудовании.</p>
  <% else %>
  <table class="table table-striped table-condensed">
  <%= render @equip_store %>
  </table>
  <% end %>
</div>