<% provide(:title, 'Оборудование') %>
<h1>Оборудование</h1>

<td><%= link_to "Добавить устройство", add_equipment_path, class: "btn btn-large btn-primary" %></td>


<%= will_paginate %>

<ul class="users">
  <%= render @equipment %>
</ul>

<%= will_paginate %>
