<% provide(:title, 'Результаты поиска оборудования' ) %>
<div class="col-md-10 col-md-offset-1">
<table class="table table-striped table-bordered table-condensed">
  <%= render @equipment %>
</table>
</div>