<% provide(:title, @equipment.name ) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1><%= @equipment.name %></h1>
    </section>
  </aside>
</div>

<td><%= link_to "Показать все устройства", equipment_index_path, class: "btn btn-large btn-primary" %></td>
<td><%= link_to "Редактировать устройство", edit_equipment_path, class: "btn btn-large btn-primary" %></td>