<% provide(:title, @title) %>
<p class="lead"><%= @title %></p>
<hr>
<div class="row">
  <div class="col-md-8 col-md-offset-2 list" >
      <table id="datatables" class="table table-condensed table-striped">
        <thead>
          <th class="td_center">Механик</th>
          <th class="td_center"></th>
        </thead>
        <tbody>
        </tbody>
      </table>
  </div>
</div>