<% provide(:title, 'Улицы') %>
<% provide(:header, 'Улицы') %>
<div class="row">
  <div class="col-md-12">
    <table class="datatable display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Название улицы</th>
          <th>Здания</th>
          <th>Лифты</th>
        </tr>
      </thead>
      <tbody>
      <%= render @streets %>
      </tbody>
    </table>
  </div>
</div>