<% provide(:title, 'Список улиц') %>
<p class="lead">Адреса расположения УМ и обслуживаемых лифтов.</p>
<hr>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render "address/address_search" %>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2 list">
    <table class="table table-condensed table-striped search search_result">
      <caption>Перечень всех улиц</caption>
      <thead>
        <tr>
          <td>Название улицы</td>
          <td>Здания</td>
          <td>Лифты</td>
        </tr>
      </thead>
      <tbody>
      <%= render @streets %>
      </tbody>
    </table>
  </div>
</div>