<% provide(:title, 'Добавление улицы') %>
<%= form_for(@street, html:{class:"form-inline col-md-10 col-md-offset-1", role:"form"} ) do |f| %>
    <legend>Добавление улицы</legend>

      <div class="input-group input-group-sm col-md-7">
        <label class="sr-only" for="name">name</label>
      	<%= f.text_field :name, class: "form-control", placeholder: "Название улицы" %>
        <div class="input-group-btn">
          <%= f.submit "Добавить", class: "btn btn-default" %>
        </div>
      </div>
    <div class="col-md-7" padding-top="25"><%= render 'shared/error_messages', object: f.object %></div>
<% end %>