<% provide(:title, 'Типы оборудования') %>
<div class="span8">
<h1>Типы оборудования</h1>
<div align: "right"><td><%= link_to "Добавить новый тип", add_e_list_path, class: "btn btn-mini" %></td></div>

<ul class="users">
  <%= render @e_lists %>
</ul>
</div>