<% provide(:title, @e_list.name) %>
<div class="row">
  <aside class="span9">
    <section>
      <h3><%=@e_list.manufacturer %> <%=@e_list.name  %></h3>
      <h4>В наличии на складе:</h4>

<table class="table table-striped table-bordered table-condensed">
  <%= render @equip_store %>
</table>
    </section>
  </aside>
</div>
<h4>Описание</h4>
      <p><%=@e_list.description %></p>