<% provide(:title, @e_list.name) %>
<div class="row">
  <aside class="span9">
    <section>
      <h3><%=@e_list.manufacturer %> <%=@e_list.name  %></h3>
      <h4>Описание</h4>
      <p><%=@e_list.description %></p>
    </section>
  </aside>
</div>