<% provide(:title, 'Расценки') %>
<p class="lead">Расценки</p>
<hr>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<table class="table table-condensed table-striped">
			<thead>
				<tr>
					<th class="td_center" style="width:100px;"> Этажность </th>
					<th class="td_center" style="width:100px;"> ПА </th>
					<th class="td_center" style="width:100px;"> ПР </th>
					<th class="td_center" style="width:100px;"> Б </th>
					<th class="td_center" style="width:100px;"> МГ до 150 </th>
					<th class="td_center" style="width:100px;"> Г 160-1000 </th>
					<th class="td_center" style="width:100px;"> Г свыше 1000 </th>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
	</div>
</div>