<% provide(:title, 'Расценки') %>
<p class="lead">Расценки</p>
<hr>
<div class="row">
	<table>
		<thead>
			<tr>
				<th>Этаж</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			
		</tbody>
	</table>
</div>