<% provide(:title, 'Категории оборудования') %>
<div class="span8">
<h1>Категории оборудования</h1>
<ul class="users">
  <%= render @e_types %>
</ul>
<div style="float:right"><%= link_to "Добавить новую категорию", add_e_type_path, class: "btn btn-mini" %></div>
</div>