<% provide(:title, @e_type.name) %>
<p class="lead"><%=@e_type.name%></p>
<hr>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h5>Оборудование текущей категории:</h5>
		<%= render @e_lists %>
 	</div>
</div>