<% provide(:title, @e_type.name) %>
<div class="span8">
<div class="row">
  <aside class="span4">
    <section>
      <h3><%=@e_type.name%></h3>
     <h5>Оборудование текущей категории:</h5>
    </section>
  </aside>
</div>

</div>