
/*

@import "bootstrap";
body {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #eee; 
}
.navbar {
	margin-bottom: 20px;
}

 /* miscellaneous */
 /*
 .navbar-static-top{
 	background-color: #274E7D;
 }
.navbar-default .navbar-brand{
 	 	color: #FFFFFF;
}
.whitehead{
	color: #FFFFFF;
}
 */
.pdr {
	padding-right: 25px;
}

.maincontainer {
	margin: 25px;
}

.list{
	margin-top: 25px;
	/*margin-left: -15px;
	margin-right: -15px;*/
}

.version{
	margin-left: 24%;
}

.search_result{
	width: 100%;
	text-align: center;
}
.searchcell{
	margin-left: 33%;
	text-align: left;
}
.searchcell2{
	margin-left: 12%;
	text-align: left;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

