<% provide(:title, @title) %>
<p class="lead"><%= @title %></p>
<hr>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
  	<table class="table table-striped table-condensed">
  		<thead>
  			<tr>
  				<th class="td_center">Дата записи</th>
  				<th class="td_center">Адрес лифта</th>
          <th class="td_center">ГП</th>
  				<th class="td_center">Дата последнего ПТО</th>
  				<th class="td_center">Дата следующего ПТО</th>
          <th class="td_center">Отметка о ПТО</th>
  			</tr>
  		</thead>
  		<tbody>
  			<%= render @inspections %>
  		</tbody>
  	</table>
  </div>
</div>