<% provide(:title, @title) %>
<% provide(:header, @title) %>
<% if params[:action] == 'month'%>
<div class="row">
  <div class="col-md-12">
    <div class="hidden-print">
      <%= form_tag month_inspections_path, :method => :get, class:"form-inline" do %>
      <fieldset>
      <div class="form-group">
          <%= text_field_tag :date, 'Выберите месяц', class: "date input-sm form-control" %>
        </div>
          <%= submit_tag "Сформировать", class: "btn btn-default btn-sm" %>
      </fieldset>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<div class="row">
  <div class="col-md-12">
  	<table class="datatable display" cellspacing="0" width="100%">
  		<thead>
  			<tr>
  				<th>Дата записи</th>
  				<th>Адрес лифта</th>
          <th>ГП</th>
  				<th>Дата последнего ПТО</th>
  				<th>Дата следующего ПТО</th>
          <th>Отметка о ПТО</th>
  			</tr>
  		</thead>
  		<tbody>
  			<%= render @inspections %>
  		</tbody>
  	</table>
  </div>
</div>