<% provide(:title, 'Отметка о проведении ТО') %>
<p class="lead">Отметка о проведении ТО</p>
<hr>
<div class="col-md-8 col-md-offset-2">
  <legend>
  	<% if @lift.porch.nil? %>
			<% provide(:title, 'Неизвестный адрес') %>
		<% else %>
			<% provide(:title, @street.name + ' ' + @build.name  + ' ' + @porch.name) %>
		<% end %>
		<% if @porch.nil? %>
 		 <p class="text-warning">Неизвестный адрес</p>
		<% else %>
  		<p class="lead"><%= @city.name + ", ул. " + @street.name + ", д. " + @build.name + " - " + @porch.name %></p>
		<% end %>
	</legend>

  <%= form_for @inspection do |f| %>

  <fieldset>
    <div class="input-daterange input-group"  id="datepicker">
      <%= text_field_tag :inspection_at, nil, class: "input-sm form-control" %>
    </div>

    <%= f.submit "Добавить", class: "btn btn-default btn-sm pull-right" %>
  </fieldset>
  

  <% end %>