<% if signed_in? %>
<footer class="footer">
  <small>
    <a href="#">GAM 2013</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "test", '#' %></li>
      <li><%= link_to "test", '#' %></li>
    </ul>
  </nav>
</footer>
  <% end %>